@model Course
@{
    ViewData["Title"] = "ShowNew";
}

<h1>ShowNew</h1>

<form asp-action="New" method="post">

    <label asp-for="Name">Course Name</label>
    <input asp-for="Name" class="form-check form-control" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Degree"></label>
    <input asp-for="Degree" class="form-check form-control" />
    <span asp-validation-for="Degree"></span>

    <input type="submit" value="Save" class="btn btn-success" />
</form>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

