@model List<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<td> <a href="/department/showAdd" class="btn btn-primary">New Department</a/></td>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Department Name</th>
        <th>Capacity</th>
    </tr>
    @if(Model != null)
    {
        foreach (Department department in Model)
        {
            <tr>
                <td>@department.ID</td>
                <td>@department.DeptName</td>
                <td>@department.Capacity</td>
                <td> <a href="/department/ShowUpdate" class="btn btn-primary">Edit</a/></td>
                <td> <a href="/department/delete/@department.ID" onclick="confirm()" class="btn btn-primary">Delete</a/></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">No Department Found</td>
        </tr>
    }
</table>

