@model Employee
@{
    ViewData["Title"] = "Read";
}

<h1>Read</h1>
<table class="table table-bordered">
     <tr>
        <th>Id</th>
        <th>employee Name</th>
        <th>Salary</th>
        <th>Department ID</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Salary</td>
        <td>@Model.DeptID</td>
    </tr>
</table>
